body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.teams-table {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
  margin-top: 200px;
}


.teams-table-header p {
  font-size: 26px;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: solid 1px black;
}

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: left;

  /* border-radius: 15px; */
  margin-bottom: 25px;
  border-bottom: solid 1px rgb(180, 180, 180);

  border-inline-width: 60px;
}

/* .team-row :hover {
  background-color: rgb(245, 245, 245);
} */

.team-row-data {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 60%;
}

.team-row-buttons {
  display: flex;
  justify-content: right;
  width: 40%;
}


.team-row-edit-button {
  background-color: rgb(220, 220, 220);

  border: none;
  /* border: solid 1px rgb(200, 200, 200); */
  
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 5px;

  font-size: 18px;
  color: rgb(100, 100, 100);
  font-weight: 500;
}

.team-row-edit-button:hover {
  cursor: pointer;
  color: rgb(240, 240, 240);
  background-color: rgb(160, 160, 160);
  transition: background-color 0.25s, color 0.25s;
}

.team-row-name, .team-row-rating {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;

  color: rgb(160, 160, 160);
  font-weight: 400;
}

.team-row-delete-button {
  margin-right: 20px;
  margin-left: 20px;
  
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: none;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 500;

  color: white;
  background-color: rgb(255, 100, 100);
}

.team-row-delete-button:hover {
  cursor: pointer;
  background-color: rgb(255, 160, 160);
  color: rgb(255, 20, 20);
  transition: background-color 0.3s, color 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 1;
}

.simple-modal {
  position: absolute;
  margin-bottom: 300px;

  display: flex;
  flex-direction: column;
  width: 350px;

  background-color: rgb(250, 250, 250);

  border: solid 1px rgb(220, 220, 220);
  border-radius: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.simple-modal-message {
  font-size: 20px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.simple-modal-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.simple-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100%; */
  padding: 10px;
}

.simple-button {
  background-color: rgb(220, 220, 220);

  border: none;
  
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 5px;

  font-size: 18px;
  color: rgb(100, 100, 100);
  font-weight: 500;
}

.simple-button:hover {
  cursor: pointer;
  color: rgb(240, 240, 240);
  background-color: rgb(160, 160, 160);
  transition: background-color 0.25s, color 0.25s;
}

.delete-team-modal-delete {
  color: white;
  background-color: rgb(255, 100, 100);
}

.delete-team-modal-delete:hover {
  background-color: rgb(255, 160, 160);
  color: rgb(255, 20, 20);
}

.create-team-button-container {
  display: flex;
  justify-content: left;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-text-input {
  width: 200px;
  margin: 10px;
  
  background-color: rgb(220, 220, 220);
  color: rgb(100, 100, 100);
  font-weight: 500;
  font-size: 18px;

  padding-left: 15px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  border-radius: 20px;
}

.team-name-text-input {
  width: 300px;
}

.create-team-form {
  margin-top: 60px;
  margin-left: 15%;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
    font-size: 24px;
    margin-top: 16px;
}

.sidebar {
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;

  padding-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: top;

  background-color: rgb(240, 240, 240);
}

.sidebar-button {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 20px;
  font-weight: 550;
  color: rgb(140, 140, 140);
}

.sidebar-button:hover, .sidebar-button-selected {
  cursor: pointer;

  background-color: rgb(200, 200, 200);
  color: rgb(120, 120, 120);

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  transition: background-color 0.3s, color 0.3s, border-top-right-radius 0.2s, border-bottom-right-radius 0.2s;
}

.formation {
  background-color: rgb(245, 245, 245);
  color: rgb(100, 100, 100);
  max-width: 515px;

  margin-top:30px;
  padding-right: 80px;
  padding-left: 80px;

  border: solid 1px rgb(160, 160, 160);
  border-radius: 20px;
}

.formation:hover, .formation-selected {
  background-color: rgb(220, 220, 220);
  color: rgb(80, 80, 80);
  transition: color 0.3s, background-color 0.3s;
}

.formation:hover {
  cursor: pointer;
}

.formation-selected {
  background-color: rgb(200, 255, 200) !important;
}

.formation-selected p {
  font-weight: 500;
}

.formation-contents-container {
  display: flex;
  justify-content: space-around;
}

.formation-header {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formation-content {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.team-position-container {
  width: 70%;
  min-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: left;

  background: linear-gradient(to right bottom, rgb(240, 240, 240), rgb(255, 255, 255));

  border: 1px solid rgb(220, 220, 220);
  border-radius: 20px;

  margin-bottom: 10px;
}

.team-position-header {
  padding-left: 30px;
  border-bottom: 1px solid rgb(220, 220, 220);  
  text-align: left;

  background-color: rgb(240, 240, 240);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.team-position-header p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(150, 150, 150);
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-position-players {
  display: flex;
  justify-content: space-around;

}